<h1>Articles</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @article_group.each do |article| %>
    <tr>
      <th><%=article.title%></th>
      <th><%=article.description%></th>
      <th><%= link_to "Show", article_path(article) %>
      <th><%= link_to "Edit", edit_article_path(article)%>
      <th><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are You Sure?"} %></th>
    </tr>
    <%end%> 
  </tbody>
</table>
</br> 
<%= link_to "Create New Article", new_article_path %>
